body {
    background-color: antiquewhite;
    margin: 0;
    margin-top: 80px;
    text-align: justify;

    height: 100%;
}

html {
    margin: 0;
    height: 100%;
}

.navbar {
    position: fixed;
    background-color: #333;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar h1 {
    color: #ddd;
    text-align: center;
    margin-bottom: -60px;
}

.dropdown {
    float: right;
    overflow: hidden;

}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: 0.2s;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: gray;
    cursor: pointer;
    transition: 0.2s;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-right: 30px;
    transition: 0.2s;
}

.dropdown-content a:hover {
    background-color: #ddd;
    transition: 0.2s;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}

.dropbtn img {
    height: 50px;
    width: 50px;
    margin-right: 150px;
}

.navleft {
    float: left;
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
}

.navleft img {
    padding: 14px 200px;
    height: 50px;
    width: 50px;
    border-radius: 30%;
}

/*BANNER INDEX*/
#indexBanner {
    height: 50fr;
    width: 50fr;

}

#indexBanner img {
    height: 50fr;
    width: 50fr;
    display: block;
 

}

.mainContent {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}